{% extends 'main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'css/infoboxes.css' %}"> -->
</head>
<body>

    <center><h1>Box</h1></center>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form.as_p}} -->

        <ul>
            <li>
                <h3>Image File</h3>
                {{form.MainImage}}
            </li>
            <li>
                <h3>Title</h3>
                {{form.Title}}
            </li>
            <li>
                <h3>Subtitle</h3>
                {{form.Subtitle}}
            </li>
            <li>
                <h3>Link</h3>
                {{form.Url}}
            </li>
            <li>
                <input type="submit" name="Submit">
            </li>
        </ul>
    </form>

    
</body>
</html>

{% endblock %}