{% extends 'main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/infoboxes.css' %}">
</head>
<body>
    <div class="boxedit">

    <center><h2>Edit Info Boxes</h2></center>
    <center><a href="{% url 'create_boxobject' %}">Create Box Object</a></center>
    
    <section class="boxes1">
        {% for box in boxes %}
<div class="box1">
    <a href={{box.Url}}><img src="{{ box.MainImage.url }}"></a>
    <h2>{{box.Title}}</h2>
    <p>{{box.Subtitle}}</p>

    <a href="{% url 'edit_infoboxes' box.id %}">Update</a>
    <br>
    <a href="{% url 'delete_infoboxes' box.id %}">Delete</a>
</div>
        {% endfor %}
</section>

        <center><h2>Preview</h2></center>

        <iframe src="{% url 'infoboxes' %}" title="description" scrolling="no"></iframe>

    </div>
</body>
</html>

{% endblock %}