{% extends 'main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/createOrder.css' %}">
</head>
<body>

    <center><h1 style="background-color:{{ color }}">Edit Order</h1></center>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <ul>
            <li>
                <h3>First Name</h3>
                {{form.FirstName}}
            </li>
            <li>
                <h3>Last Name</h3>
                {{form.LastName}}
            </li>
            <li>
                <h3>Email</h3>
                {{form.Email}}
            </li>
            <li>
                <h3>Confirmation Number</h3>
                {{form.ConfirmNum}}
            </li>
            <i>Be sure this is the correct confirmation number!</i>
            <li>
                <h3>Date</h3>
                {{form.date}}
            </li>
            <li>
                <h3>Time Slot</h3>
                {{form.timeslot}}
            </li>
            <li>
                <h3>Bag Pulled</h3>
                {{form.BagPulled}}
            </li>
            <li>
                <h3>Bag Picked Up</h3>
                {{form.BagPickedUp}}
            </li>
            <li>
                <h3>Missed Pick Up</h3>
                {{form.MissedPickUp}}
            </li>
            <li>
                <h3>Invalid Confirmation Number</h3>
                {{form.InvalidConfirmNum}}
            </li>
            <li>
                <input type="submit" name="Submit">
            </li>
        </ul>
    </form>

</body>
</html>

{% endblock %}