{% extends 'main.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="log">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <ul>
                <li>
                    <h2>Username</h2>
                    <input type="username" name="username" placeholder="Username...">
                </li>
                <li>
                    <h2>Password</h2>
                    <input type="password" name="password" placeholder="Password...">
                </li>
                {{form.errors}}
                <li>
                    <input type="submit" name="Create User">
                </li>
                {% for message in messages %}
                <h4>{{message}}</h4>
                {% endfor %}
                <!-- <li>
                    <a class="nav-link" href="{% url 'register' %}">Create Account</a>
                </li> -->
            </ul>
    
        </form>
    </div>
    
</body>
</html>

{% endblock %}