{% extends 'main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
</head>

<body>

    <div class="box">
        <h3>Select a Date to display records</h3>
        <div class="selectDate">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="date" placeholder="" name="selectdate">
                <div class="button">
                    <input class="button2" type="submit" name="Submit">
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="box">
        <h3>Color coded rows</h3>
        <h4>Green: Picked Up</h4>
        <h4>Yellow: Missed Pick Up</h4>
        <h4>Red: Invalid Confirmation Number</h4>
    </div> -->

    <section class="boxes">
        <div class="box">
            <h3>{{datetwo}}</h3>
            <div class="box1">
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Confirmation #</th>
                        <th>Time Slot</th>
                        <th>Bag Pulled</th>
                        <th>Bag Picked Up</th>
                        <th>Missed Pick Up</th>
                        <th>Invalid Confirm</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for days in dayOne %}
                    <tr bgcolor={{color}}>
                    <td>{{days.FirstName}}</td>
                    <td>{{days.LastName}}</td>
                    <td>{{days.ConfirmNum}}</td>
                    <td>{{days.timeslot}}</td>
                    <td>{{days.BagPulled}}</td>
                    <td>{{days.BagPickedUp}}</td>
                    <td>{{days.MissedPickUp}}</td>
                    <td>{{days.InvalidConfirmNum}}</td>
                    <td><a href="{% url 'editOrder' days.id %}">Update</a></td>
                    <td><a href="{% url 'deleteOrder' days.id %}">Delete</a></td>
                    </tr>
                    {% empty %}
                    <td colspan="2">No items.</td>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    <section class="boxes">
        <div class="box">
            <h3>9:10 to 9:20 Appointments</h3>
            <div class="box1">
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Confirmation #</th>
                        <th>Time Slot</th>
                        <th>Bag Pulled</th>
                        <th>Bag Picked Up</th>
                        <th>Missed Pick Up</th>
                        <th>Invalid Confirm</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for days in dayTwo %}
                    <tr>
                        <td>{{days.FirstName}}</td>
                        <td>{{days.LastName}}</td>
                        <td>{{days.ConfirmNum}}</td>
                        <td>{{days.timeslot}}</td>
                        <td>{{days.BagPulled}}</td>
                        <td>{{days.BagPickedUp}}</td>
                        <td>{{days.MissedPickUp}}</td>
                        <td>{{days.InvalidConfirmNum}}</td>
                        <td><a href="{% url 'editOrder' days.id %}">Update</a></td>
                        <td><a href="{% url 'deleteOrder' days.id %}">Delete</a></td>
                    </tr>
                    {% empty %}
                    <td colspan="2">No items.</td>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>


</body>

</html>

{% endblock %}