{% extends 'main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
</head>
<body>

<section class="boxes">
    <div class="box">
        <h3>Monday</h3>
        <ul>
            <li>Name</li>
            <li>Order Number</li>
            <li>Completed?</li>
        </ul>
    </div>
    <div class="box">
        <h3>Tuesday</h3>
    </div>
    <div class="box">
        <h3>Wednesday</h3>
    </div>
    <div class="box">
        <h3>Thursday</h3>
    </div>
    <div class="box">
        <h3>Friday</h3>
    </div>
</section>

</body>
</html>

{% endblock %}