.log{
	/* text-align:center; */
	background-color: #f1f1f1;
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
}

.log form{
	text-align: center;
}

.log h1{
	text-align:center;
	border-bottom:3px solid black;
	margin-left:15%;
	margin-right:15%;
}

.log ul{
	list-style: none;
	padding-bottom:10px;
}

.log li{
	padding-top:5px;
}

.log input {
	max-width:60%;
	min-width:30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 0px 12px 0px;
  }