.boxes1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  }
  
  .box1 {
    text-align: center;
    background-color: #f1f1f1;
  }

  .box1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .box1 li {
    display: block;
  }

  .box1 a {
    /* float: left; */
    display: inline;
  }