.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  }
  
  .box {
    text-align: center;
    background-color: #f1f1f1;
  }

  .box li{
      display: inline;
  }