<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="tel:+3077663264"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fas fa-phone"></i
        ></a>
  
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href = "mailto: uwyo-bookstore@uwyo.edu"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fa fa-envelope"></i
        ></a>
  
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.google.com/maps/place/University+of+Wyoming:+University+Store/@41.312395,-105.579427,15z/data=!4m5!3m4!1s0x0:0xbe8193c3a889265e!8m2!3d41.312395!4d-105.579427"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fas fa-building"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: Uwyo
    </div>
    <!-- Copyright -->
  </footer>